# LICENSE: LGPL-3.0-or-later
name: "Deploy to Pantheon"
on:
  workflow_call:
    inputs:
      TERMINUS_SITE:
        type: string
        required: true
        description: The name of the site as viewable by calling `terminus site:list`
      ASSETS_ARTIFACT_PATH:
        type: string
        description: The path for built asset artifact to be restored into the tree
    secrets:
      SSH_PRIVATE_KEY:
        required: true
        description: An SSH private key, corresponding to a public key saved at https://dashboard.pantheon.io/personal-settings/ssh-keys
      TERMINUS_TOKEN:
        required: true
        description: A Pantheon machine token, as created at https://dashboard.pantheon.io/personal-settings/machine-tokens
concurrency:
  group: deploy-to-pantheon--${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
# important note: deploy_to_pantheon will push EVERYTHING in the repo directory other than the .git directory, i.e.
# it will not respect .gitignore
  deploy_to_pantheon:
      name: "Deploy to Pantheon"
      runs-on: ubuntu-latest
      permissions:
        deployments: write
        contents: write # we need to write commit metadata which requires contents:write
        pull-requests: read

      steps:
        - name: Checkout
          uses: actions/checkout@v6
        
        - name: Check if assets exist
          uses: softwareforgood/check-artifact-v4-existence@v0
          id: check-artifact-existence
          with:
            name: assets
          
        - name: Get dist
          uses: actions/download-artifact@v7
          if: ${{ steps.check-artifact-existence.outputs.exists  != 'false' && inputs.ASSETS_ARTIFACT_PATH != ''}}
          with:
            name: assets
            path: ${{ inputs.ASSETS_ARTIFACT_PATH }}

        # Deploy to Pantheon
        - name: deploy to Pantheon
          uses: pantheon-systems/push-to-pantheon@0.7.0
          with:
            ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
            machine_token: ${{ secrets.TERMINUS_TOKEN }}
            site: ${{ inputs.TERMINUS_SITE }}
       
        
